/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
.bold{
	font-weight: 600;
}
.logo-insta{
	width: 20px;
}
.foot{
	position: absolute;
	top: 130%;
	left: 85%;
	font-size: 14px;
}
.foot2{
	position: absolute;
	font-size: 14px;
	left: 85%;
}
.architect{
	font-weight: normal;
	margin-top: 6px;
	font-size: 10px;
	letter-spacing: 0.5px;
}
.big-text{
	max-width: 410px;
	line-height: 1.1;
}
.normal{
	font-weight: normal;
	color: rgb(48, 48, 48);
}
.picture{
	transform: scale(1);
	max-width: 100%;
}
.container{
	max-width: 600px;
	margin-left: 40px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.project_container{
	display: flex;
	flex-direction: row;
	align-items:flex-start;
	justify-content: center;
	margin-bottom: 60px;
}
#introduction{
	margin-top: 100px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0
}
.button-login{
	display: block;
	color: inherit;
	text-decoration: none;
	margin-right: 25px;
	cursor: pointer;
}
#logoutButton {
	margin-right: 25px;
}
.logo{
	color: inherit;
	text-decoration: none;
}
.modifyBar{
	display: none;
}
#thumbnails-container {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 2px;
	justify-content: center;
	align-items: center;
	margin: 30px;
}
.thumbnail img {
	width: 85%;
	height: auto;
}
.thumbnail {
  position: relative;
  display: inline-block;
  margin: -5px;
	margin-top: 20px;
}

.delete-button,
.edit-button {
  position: absolute;
  color: white;
  font-size: 14px;
  padding: 5px;
  border: none;
  cursor: pointer;
	background-color: transparent;
}

.delete-button {
  top: 5px;
  right: 18px;
  background-color: black;
	border-radius: 0;
	font-size: 9px;
  padding: 0px;
  width: 16px; /* Ajuster la largeur du bouton */
  height: 16px;
	border-radius: 2px;
}

.edit-button {
  bottom: -17px;
  left: -5px;
	color: black;
	border: none;
	font-size: 11px;
	font-family: 'Work Sans';
}
.categorie-btn {
  display: inline-block;
  padding: 8px 16px;
  font-family: 'Syne';
  font-size: 16px;
  color: #1D6154;
  background-color: transparent;
  border: 1.5px solid #1D6154;
  border-radius: 20px;
  text-decoration: none;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
	margin-bottom: 50px;
	margin-top: 20px;
}
.categorie-btn:hover {
  background-color: #1D6154;
  color: #FFFFFF;
}
.categorie-btn.active {
  background-color: #1D6154;
  color: #FFFFFF;
}
#menu-categories {
  display: flex;
  justify-content: center; 
  align-items: center;
  list-style: none;
  padding: 0;
  width: 100%; 
}
.connexion{
	position: absolute;
	top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#loginForm{
	position: absolute;
	top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#portfolio {
	margin-top: 18vh;
}
#logoutListItem{
	display: none;
}
#logoutButton{
	text-decoration: none;
	color: black;
}
#modifyImageBtn{
	border: none;
	background-color: white;
	font-family: 'Work Sans';
	cursor: pointer;
	margin: 10px;
	margin-left: 55px;
}
#modifyProjectsBtn{
	border: none;
	background-color: white;
	font-family: 'Work Sans';
	cursor: pointer;
	margin-top: 8px;
	margin-left: 20px;
}
.black{
	color: black;
	cursor: pointer;
	margin-right: 10px;
}
.hide-btn{
	display: none;
}
.modal {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}
.thumbnails-container {
  border-bottom: 3px solid #d8d8d8;
  padding-bottom: 60px;
	position: absolute;
	width: 420px;
}
.modal-content {
	position: relative;
	top: 50%;
	left: 50%;
	width: 500px;
	height: 620px;
	transform: translate(-50%, -50%);
	background-color: #fff;
	padding: 50px;
	padding-top: 5px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.gallery-title{
	display: flex;
	justify-content: center;
	font-size: 25px;
	margin-top: 40px;
}
.close-btn {
	position: absolute;
	top: 18px;
	right: 28px;
	font-size: 28px;
	cursor: pointer;
}
.forgot{
	display: flex;
	flex-direction: column;
	align-items: center;
	color: black;
}
button[type="submit"]{
	padding: 8px;
	font-family: 'Syne';
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	text-align: center;
	border-radius: 80px;
	border: none;
	display: flex;
  justify-content: center;
  align-items: center;
	width: 12vw;
	cursor: pointer;
}
#loginForm {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#loginForm input[type="email"],
#loginForm input[type="password"] {
	position: relative;
  height: 30px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  padding: 10px; 
  background-color: white; 
  border-radius: 5px; 
  color: #1D6154; 
  width: 28vw;
  margin-bottom: 10px; 
	display: block;
	outline: none;
}
#loginForm label[for="email"] {
  font-size: 1em; 
}
#loginForm label[for="password"] {
  font-size: 1em; 
}
#loginForm label {
  margin: 2em 0 1em 0;
  font-size: 1.2em;
  color: #1D6154; 
	display: block;
}

#loginForm button[type="submit"] {
  font-family: 'Syne';
  font-weight: 700;
  color: white;
  background-color: #1D6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
  padding: 10px; 
  cursor: pointer;
  border: none;
}
#send input[type="submit"] {
	cursor: pointer;
	font-size: 15px;
	height: 35px;
}
section {
	margin: 50px 0
}
h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

li:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

